<nav class="w3-bar w3-black">
	<a class="w3-bar-item w3-button" href="/">Inicio</a>
	<a class="w3-bar-item w3-button" href="/novopassageiro">Novo Passageiro</a>
	<a class="w3-bar-item w3-button" href="/passageiros">Passageiros</a>
</nav>
