<!DOCTYPE html>
<html>
	<head>
		<title>It's <%= titulo %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/w3.css">
	</head>
	<body>
		<section>
			<%- body -%>
		</section>
	</body>
</html>
